@media only screen and (max-width: 440px) {

    /* --------header---------- */
    /* .mynavbar{
        align-items: center;
    } */
    .navbar .container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .startbtn {
        width: 8rem;
    }

    /* ------------Home--------------- */
    /* #home {
    } */
    body {
        width: 138%;

    }

    .homecontainer {
        padding-bottom: 5rem;
    }

    .ordercls {
        .order-1 {
            padding-top: 8rem;
        }
        .morder-1{
            order: 1;
        }
        .morder-2 {
            order: 2;
            text-align: center;
            align-items: center;
        }
    }

    .myheading {
        margin-left: 5rem;
        padding-bottom: 2rem;
    }

    .client {
        padding: 20px;
        flex-wrap: wrap;

        img {
            margin: 2rem;
        }
    }

    /* ----------------about-------------------*/


    .about-btn {
        margin-top: 1rem;
        margin-left: 11rem;
    }

    .about-first {
        text-align: justify;
        padding: 2rem;

        li {
            padding: 1rem;
        }
    }

    .about-order {
        .a-order-1 {
            order: 1;
            padding-bottom: 3rem;
        }
        .a-order-2{
            order: 2;
        }

    }

    /* -----------services-------------- */

    .cards {
        flex-direction: column;
        margin: 2rem;

        .card {
            padding: 2rem;
            height: 13rem;
            margin: 0rem;
            padding: 5px;
            margin-top: 1rem;
        }
    }

    .cta {
        padding: 0px;
    }

    .cta-h3 {
        padding-bottom: 2rem;
        text-align: center;
    }

    .col-md-9 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cta-button {
        /* display: block;
        margin: auto;
        max-width: 50%; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* -------portfolio----- */
    #portfolio {
        display: none;
    }



    /* ------Team------- */
    #team {
        /* margin-top: 48rem; */
        margin-top: 0px;
    }

    .firstcard {
        margin-bottom: 2rem;
    }

    .imgr {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* --------------pricing------------ */
    .price-module {
        flex-direction: column;
        align-items: center;
    }

    .pcard {
        padding: 0px;
        width: 65%;
        margin-top: 2rem;
    }


    /* ------faq-------- */
    .questions {
        margin-left: 0px;
        padding: 1rem;
    }

    /* -------------contact------------- */
    #contact {
        display: flex;
    }

    .map {

        /* margin-left: 2rem; */
        iframe {
            width: 520px;
        }
    }

    .contact-msg {
        margin-top: 2rem;
    }

    .msg-btn {
        margin-top: 2rem;
        margin-left: 10rem;
    }

    /* -------footnavbar------------- */
    #foot-navbar .container {
        flex-direction: column;
        /* align-items: center; */
    }

    .links {
        margin-top: 2rem;
        margin-left: 0rem;
        list-style: none;
    }

    .services {
        margin-top: 2rem;
    }

    .network {
        margin-top: 2rem;
    }
}